<p id="notice"><%= notice %></p>

<h1>Indices</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indices.each do |index| %>
      <tr>
        <td><%= link_to 'Show', index %></td>
        <td><%= link_to 'Edit', edit_index_path(index) %></td>
        <td><%= link_to 'Destroy', index, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Index', new_index_path %>
